<div class="container mt-5">
    <h2>Contactez-nous</h2>
    <form>
        <div class="form-group">
            <label for="name">Nom:</label>&nbsp;&nbsp;&nbsp;
            <input type="text" class="form-control" id="name" placeholder="Votre nom">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>&nbsp;&nbsp;&nbsp;
            <input type="email" class="form-control" id="email" placeholder="Votre email">
        </div>
        <div class="form-group">
            <label for="message">Message:</label>
            <textarea class="form-control" id="message" rows="4" placeholder="Votre message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
</div>